@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset all containers */
html, body, #root, #app {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

.gallery-grid {
  width: fit-content;
  height: 750px;
  position: relative;
  margin: 0;
  padding: 24px;
  background-color: #ffffff;
}

.gallery-item {
  background-color: #000000;
  color: white;
  opacity: 0; /* Initially hidden */
  transform: translateY(20px); /* Initial position for animation */
  animation: fadeInUp 0.8s ease-out forwards; /* Apply animation */
}

/* Define keyframes for the fade-in-up animation */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Apply staggered animation delays for each tile */
.gallery-item:nth-child(1) {
  animation-delay: 0s;
}

.gallery-item:nth-child(2) {
  animation-delay: 0.1s;
}

.gallery-item:nth-child(3) {
  animation-delay: 0.2s;
}

.gallery-item:nth-child(4) {
  animation-delay: 0.3s;
}

.gallery-item:nth-child(5) {
  animation-delay: 0.4s;
}

.gallery-item:nth-child(6) {
  animation-delay: 0.5s;
}

.gallery-item:nth-child(7) {
  animation-delay: 0.6s;
}

.gallery-item:nth-child(8) {
  animation-delay: 0.7s;
}

/* Tile sizes */
.small-tile {
  width: 245px;
  height: 154px;
}

.large-tile {
  width: 520px;
  height: 325px;
}

/* Grid placement for specific items */
.small1 { left: 46px; top: 24px; }
.small2 { left: 321px; top: 24px; }
.small3 { left: 598px; top: 24px; }
.large1 { left: 874px; top: 24px; }

.large2 { left: 46px; top: 200px; }
.small6 { left: 598px; top: 200px; }

.small4 { left: 46px; top: 548px; }
.small5 { left: 321px; top: 548px; }
.large3 { left: 598px; top: 377px; }

.small7 { 
    left: 1149px;
    top: 376px;
}
.small8 { 
    left: 1149px;
    top: 548px;
}
